:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #e5e5e5;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--title-text-color);
  color: var(--primery-text-color);
  color: var(--accent-color);
  color: var(--secondary-color);
}

p .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.headerlogo {
  color: #2196f3;
}

.footerlogo {
  color: #000000;
}

.headerlogo,
.footerlogo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.second-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.name-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.creating {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.ghost {
  visibility: hidden;
}

.focus-hover {
  color: #212121;
}

.site-nav .focus-hover:hover {
  color: var(--accent-color);
}

.site-nav .focus-hover:focus {
  color: var(--accent-color);
}

.contact-nav:hover {
  color: var(--accent-color);
}

.contact-nav:focus {
  color: var(--accent-color);
}

li .focus-hover:hover {
  color: var(--accent-color);
}

li .focus-hover:focus {
  color: var(--accent-color);
}

.footer-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.last-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
